@font-face {
    font-family: Georgia;
    src: url(../fonts/georgia.ttf); 
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Georgia-Bold;
    src: url(../fonts/georgiaBold.ttf); 
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: Georgia-Italic;
    src: url(../fonts/georgiaItalic.ttf); 
    font-style: normal;
    font-weight: normal;
}
